<h1>User info</h1>

<%if user.image.attached? %>
  <%= image_tag user.image, size: "300x300" %>
<% else %>
  <%= image_tag "no_image", size: "300x300" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">introduction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.introduction %></td>
    </tr>
  </tbody>
</table>
<%= link_to "プロフィール編集", edit_user_path(user.id) %>