<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-3">
          <%= render "users/info" ,user: @user %>
          <%= render "index" %>
        </div>
        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          <% if @book.user.profile_image.attached? %>
            <%= image_tag @book.user.profile_image, size: "100x100" %>
          <% else%>
            <%= image_tag "no_image", size: "150x150" %>
          <% end %>
          <%= @book.user.name %>
          <%= link_to @book.title, book_path(@book.id)%>
          <%= @book.body %>
          <% if current_user.id == @book.user_id %>
            <%= link_to "Edit", edit_book_path(@book.id) %>
            <%= link_to "Destroy","/books/#{@book.id}",method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
    </div>
</div>