<div class="container">
    <div class="row">
        <div class="col-md-3">
          <%= render "users/info" %>
          <%= render "index" %>
        </div>
        <div class="col-md-8">
          <h2>Book detail</h2>
          <%= image_tag @book.user.image, size: "100x100" %>
          <%= @book.user.name %>
          <%= link_to @book.title, book_path(@book.id)%>
          <%= @book.body %>
          <% if current_user.id == @book.user_id %>
            <%= link_to "Edit", edit_book_path(@book.id) %>
            <%= link_to "Destroy","/books/#{@book.id}",method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
    </div>
</div>